<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-mapping SYSTEM "classpath://hibernate-mapping-3.0.dtd">
#if(${entity.domainId}==1) 
<hibernate-mapping package="${entity.category}">
#else
<hibernate-mapping package="d${entity.domainId}.${entity.category}">
#end
#if ( !${entity.inheritanceJClass} )
	<class name="${entity.name}" table="D${domain.objectId}_${entity.name}">
		<id name="objectId" column="OBJECTID">
			<generator class="native"/>
		</id>
		<property name="classId" 		type="long" 		column="CLASSID"/>
		<property name="domainId" 		type="long" 		column="DOMAINID"/>
#elseif (${entity.inheritanceJClass.domainId}==1) 	
	<joined-subclass name="${entity.name}" extends="${entity.inheritanceJClass.category}.${entity.inheritanceJClass.name}" table="D${domain.objectId}_${entity.name}">
		<key column="OID"/>
#else 
	<joined-subclass name="${entity.name}" extends="${domain.name}.${entity.inheritanceJClass.category}.${entity.inheritanceJClass.name}" table="D${domain.objectId}_${entity.name}">
		<key column="OID"/>
#end	
#foreach( ${jatt} in ${entity.JAttributes} )	
  #if ( !${jatt.type.JClass} )
		<property name="${jatt.name}" 		type="${jatt.type.name}" 		column="${jatt.name}"			unique="${jatt.unique}" />
  #elseif ( ${jatt.type.JClass.domainId}==1)
	<many-to-one name="${jatt.name}"		class="${jatt.type.JClass.category}.${jatt.type.name}"		column="${jatt.name}"		unique="${jatt.unique}" />
  #elseif ( $jatt.type.name != 'virtual' )
	<many-to-one name="${jatt.name}"		class="d${domain.objectId}.${jatt.type.JClass.category}.${jatt.type.name}"		column="${jatt.name}"		unique="${jatt.unique}" />
  #end
#end
#if ( !$entity.inheritanceJClass )
		<property name="createdBy" 		type="long" 		column="CREATEDBY"		insert="true"/>
		<property name="createdOn" 		type="timestamp" 	column="CREATEDON"		insert="true"/>
		<property name="updatedBy" 		type="long" 		column="UPDATEDBY"		update="true"/>
		<property name="updatedOn" 		type="timestamp" 	column="UPDATEDON"  	update="true"/>
	</class>
#else
	</joined-subclass>
#end
</hibernate-mapping>